<div class="grid-container">
  <div>
    <div class="kpi-wrap">
      <div>
        <app-kpi-card class="kpi-card" [id]="KPICards[0].id" [title]="KPICards[0].title" [value]="KPICards[0].value"
          [postfix]="KPICards[0].postfix" [prefix]="KPICards[0].prefix"></app-kpi-card>
      </div>
      <div>
        <app-kpi-card class="kpi-card" [id]="KPICards[1].id" [title]="KPICards[1].title" [value]="KPICards[1].value"
          [postfix]="KPICards[1].postfix" [prefix]="KPICards[1].prefix"></app-kpi-card>
      </div>
      <div>
        <app-kpi-card class="kpi-card" [id]="KPICards[2].id" [title]="KPICards[2].title" [value]="KPICards[2].value"
          [postfix]="KPICards[2].postfix" [prefix]="KPICards[2].prefix"></app-kpi-card>
      </div>
      <div>
        <app-kpi-card class="kpi-card" [id]="KPICards[3].id" [title]="KPICards[3].title" [value]="KPICards[3].value"
          [postfix]="KPICards[3].postfix" [prefix]="KPICards[3].prefix"></app-kpi-card>
      </div>
    </div>
  </div>
  <div class="donut_container">
    <div class="donut_indiv">
      <app-doughnut-chart id='Donut 1' [chartProperties]="donutChartOptions1"></app-doughnut-chart>
    </div>
    <div class="donut_indiv">
      <app-doughnut-chart id='Donut 2' [chartProperties]="donutChartOptions2"></app-doughnut-chart>
    </div>
  </div>
  <div class="bar_container">
    <app-bar-chart [chartOptions]="barChartOptions"></app-bar-chart>
  </div>
  <!-- <div>
    <mat-grid-list [cols]="chartCols" rowHeight="510px">
      <div *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header class="dashboard-card__header">
            <mat-card-title>
              <h3>{{card.title}}</h3>
              <div *ngIf="card.hasDatePick">
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item  (click)="changeDateRange('This year')">This year</button>
                  <button mat-menu-item  (click)="changeDateRange('Last year')">Last year</button>
                  <button mat-menu-item  (click)="changeDateRange('This quarter')">This quarter</button>
                  <button mat-menu-item  (click)="changeDateRange('Last quarter')">Last quarter</button>
                </mat-menu>
              </div>
            </mat-card-title>
          </mat-card-header>
          <hr>
          <mat-card-content class="dashboard-card-content">
            <div>
              <app-bar-chart [query]="card.query" *ngIf="card.chart === 'bar'"></app-bar-chart>
              <app-doughnut-chart [query]="card.query" *ngIf="card.chart === 'doughnut'"></app-doughnut-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-list>
  </div> -->
</div>